<p id="notice" class="hidden"><%= notice %></p>
<h1 class="page-header">Reservations
  <a href="<%= new_admin_reservation_path %>" class="btn btn-primary pull-right">
    <span class="glyphicon glyphicon-plus"></span>
    Add New Reservation
  </a>
</h1>
<div class="row">
  <div class="col-sm-12">
    <button class="alert btn-success"></button>  <label>PAID</label>
    <button class="alert btn-danger"></button>  <label>PENDING</label>
    <button class="alert alert-success"></button>  <label>Current Day</label>
  </div>
  <div class="col-sm-12">
    <div id="events_calendar">
      <%= render partial: "calendar", locals: {events: @reservations} %>
    </div>
  </div>
</div>
