<h1 class="page-header">Reservation</h1>
<%= form_for [:admin, @reservation] do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <label for="reservation_date">Date</label>
        <input type="date" class="form-control" id="reservation_date" name="reservation[reservation_date]">
      </div>
      <div class="col-sm-6">
        <label for="reservation_time">Time</label>
        <input type="text" class="form-control" id="reservation_time" name="reservation[reservation_time]">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <label for="package">Package</label>
        <%= select("reservation", "package", Package.all.collect { |package| [package.title, package.title] }, {:selected => params[:application_status]}, :class => "form-control") %>
      </div>
      <div class="col-sm-6">
        <label for="amount">Amount</label>
        <input type="text" class="form-control" id="amount" name="reservation[amount]">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <label for="status">Status</label>
        <select class="form-control" id="status" name="reservation[status]">
          <option>PENDING</option>
          <option>PAID</option>
          <option>CANCELLED</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label for="client_id">Client Name</label>
        <input type="text" class="form-control" id="client_id" name="client[fname]">
      </div>
      <div class="col-sm-3">
        <label for="contact">Contact</label>
        <input type="text" class="form-control" id="contact" name="client[contact]">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <label for="place_of_church">Place of Church</label>
        <input type="text" class="form-control" id="place_of_church" name="reservation[place_of_church]">
      </div>
      <div class="col-sm-6">
        <label for="place_of_coverage">Place of Coverage</label>
        <input type="text" class="form-control" id="place_of_coverage" name="reservation[place_of_coverage]">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <label for="reception">Reception</label>
        <input type="text" class="form-control" id="reception" name="reservation[reception]">
      </div>
      <div class="col-sm-6">
        <label for="recommended_by">Recommended by</label>
        <input type="text" class="form-control" id="recommended_by" name="reservation[recommended_by]">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <label for="tape">Type of Tape</label>
        <input type="text" class="form-control" id="tape" name="reservation[tape]">
      </div>
      <div class="col-sm-6">
        <label for="coverage">Type of Coverage</label>
        <input type="text" class="form-control" id="coverage" name="reservation[coverage]">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <label for="album">Album</label>
        <input type="text" class="form-control" id="album" name="reservation[album]">
      </div>
      <div class="col-sm-6">
        <label for="motif">Motif</label>
        <input type="text" class="form-control" id="motif" name="reservation[motif]">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <label for="excess_shots">Excess shots</label>
        <input type="text" class="form-control" id="excess_shots" name="reservation[excess_shots]">
      </div>
      <div class="col-sm-6">
        <label for="free">Free</label>
        <input type="text" class="form-control" id="free" name="reservation[free]">
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
<% end %>
