<style>
  .row {
    background-color: white;
    position: relative;
  }
</style>
<%= render 'layouts/carousel' %>
<div class="container-fluid">
  <div class="row" style="padding-top: 50px;">
    <div class="col-sm-3">
      <div class="card mb-3 shadow-sm">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/assets/a.jpg" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">Pictorial @ Sison, Pangasinan</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="hidden btn btn-sm btn-outline-secondary">View</button>
            </div>
            <small class="text-muted hidden">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card mb-3 shadow-sm">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/assets/b.jpg" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">Katy & Jake Pre Nup 08-05-18</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="hidden btn btn-sm btn-outline-secondary">View</button>
            </div>
            <small class="text-muted hidden">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card mb-3 shadow-sm">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/assets/c.jpg" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">Harriet & Steve Pre Nup</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="hidden btn btn-sm btn-outline-secondary">View</button>
            </div>
            <small class="text-muted hidden">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card mb-3 shadow-sm">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/assets/d.jpg" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">Elise & Oliver</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="hidden btn btn-sm btn-outline-secondary">View</button>
            </div>
            <small class="text-muted hidden">9 mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="card mb-3 shadow-sm">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/assets/e.jpg" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">
            <li>1 DVD Edited</li>
            <li>100 5R Selected Layout Picture w/ Album</li>
            <li>Photo CD</li>
            <li>1 11x14 Picture w/ Frame</li>
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#modalReservation">PACKAGE A</button>
            </div>
            <small class="text-muted">15,000</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card mb-3 shadow-sm">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/assets/f.jpg" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">
            <li>1 DVD Edited</li>
            <li>30 Pages 8x12 - Digital Album</li>
            <li>1 AVP w/ Slideshow</li>
            <li>1 Digital Sign Frame</li>
            <li>1 11x14 Picture w/ Frame</li>
            <li>Photo CD</li>
            <li>Picturial / Pre-Nup</li>
            <li>Unlimited Shots</li>
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#modalReservation">PACKAGE B</button>
            </div>
            <small class="text-muted">25,000</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card mb-3 shadow-sm">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/assets/g.jpg" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">
            <li>1 DVD Edited</li>
            <li>40 Pages 8x12 - Digital Album</li>
            <li>1 AVP w/ Slideshow</li>
            <li>1 Digital Sign Frame</li>
            <li>1 11x14 Picture w/ Frame</li>
            <li>Photo CD</li>
            <li>Picturial / Pre-Nup</li>
            <li>Unlimited Shots</li>
            <li>Photo Booth (2hrs.)</li>
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#modalReservation">PACKAGE C</button>
            </div>
            <small class="text-muted">35,000</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card mb-3 shadow-sm">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/assets/h.jpg" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">
            <li>1 DVD Edited</li>
            <li>40 Pages 8x12 - Digital Album</li>
            <li>1 AVP w/ Slideshow</li>
            <li>1 Digital Sign Frame</li>
            <li>1 11x14 Picture w/ Frame</li>
            <li>Photo CD</li>
            <li>Picturial / Pre-Nup</li>
            <li>Unlimited Shots</li>
            <li>Photo Booth (2hrs.)</li>
            <li>Projector</li>
            <li>Digital Guest Book</li>
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#modalReservation">PACKAGE D</button>
            </div>
            <small class="text-muted">45,000</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <hr>
      <div id="events_calendar">
        <%= render partial: "calendar", locals: {events: @reservations} %>
      </div>
    </div>
  </div>
</div>
<%= render 'modal_reservation' %>
<style>
  .hidden {
    display: none;
  }
</style>
