<style>
  .c-mgn {
    margin: auto;
    margin-top: 20px;
  }

  .c100.dark > span {
    color: white;
  }
</style>
<%= render 'layouts/carousel' %>
<div class="container-fluid">
  <div class="row placeholders" style="margin: 40px">
    <div class="col-sm-12">
      <h1>Payment Details</h1>
    </div>
    <div class="col-sm-4 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="c100 p25 big dark c-mgn">
          <span>25%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <div class="card-body">
          <h3 class="card-text text-muted">Reservation</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="c100 p25 big dark green c-mgn">
          <span>25%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <div class="card-body">
          <h3 class="card-text text-muted">Upon Service</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="c100 p50 big dark orange c-mgn">
          <span>50%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <div class="card-body">
          <h3 class="card-text text-muted">Upon Delivery</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
if(!window.location.hash) {
		window.location = window.location + '#loaded';
		window.location.reload();
}
</script>
