<div id="reserve">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <h1>Thank you!</h1>
        <p>
          Reservation still PENDING.<br>
          Please pay your reservation on our shop to proceed with your reservation.
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  #reserve {
    background-image: url(/assets/thank_you.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    min-height: 80vh;
    text-align: center;
    color: white;
  }

  h1 {
    margin-top: 50%;
    color: white;
  }

  .container {
    background: rgba(0,0,0, 0.3);
    min-height: 80vh;
  }
</style>
