<br><br><br>
<div class="col-sm-offset-4 col-sm-4">
  <% if flash[:forgot_password_message] %>
    <p class="alert alert-success">
      <span class="glyphicon glyphicon-ok-sign"></span>
      <%= flash[:forgot_password_message] %>
    </p>
  <% end %>
  <div class="panel panel-default">
    <div class="panel-heading">Forgot Password</div>
    <div class="panel-body">
      <form method="POST">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" required name="email" id="email" placeholder="Email">
        </div>
        <button type="submit" class="btn btn-default">Send reset password link</button>
      </form>
    </div>
  </div>
</div>
