<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading" style="background-color: black;">
      <div class="row">
        <div class="col-xs-12 text-center">
          <div class="huge"><h3>PIOQUINTO</h3></div>
          <div>PHOTO AND VIDEO COVERAGE</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <img src="/assets/user.png" width="100px" />
  </div>
  <div class="col-sm-offset-4 col-sm-4">
    <% if flash[:message] %>
      <p class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <%= flash[:message] %>
      </p>
    <% end %>
    <div class="panel panel-default">
      <div class="panel-heading">Login</div>
      <div class="panel-body">
        <form method="POST">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" required name="email" id="exampleInputEmail1" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" required name="password" id="exampleInputPassword1" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
          <a href="/admin/forgot-password" class="pull-right hidden">Forgot password?</a>
        </form>
      </div>
    </div>
  </div>
</div>
