<footer class="text-muted">
  <div class="col-sm-12">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . </p>
    <p>All rights reserved 2019</p>
  </div>
</footer>
